*{
    margin: 0;
    padding: 0;
}
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        header {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333;
            color: white;
            /* padding: 20px; */
        }

        h1 {
            margin: 0;
            font-size: 24px;
        }

        p {
            margin: 0;
            font-size: 14px;
        }

        div {
            margin: 20px;
        }

        label {
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h2 {
            font-size: 18px;
            margin-top: 20px;
        }

        button {
            padding: 10px 20px;
            margin-right: 10px;
            background-color: #0074d9;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        audio {
            display: block;
            margin-top: 10px;
        }

        #loading {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 20px;
            border-radius: 5px;
        }
        .text{
            display: flex;
            justify-content: center;
        }
        #hin-txt{
            border: 5px solid #0099ff;
            border-radius: 20px;
            padding-left: 10%;
            padding-bottom: 10px;
            padding: 5%;
        }
        #eng-txt{
            border: 5px solid #0099ff;
            border-radius: 20px;
            padding-right: 10%;
            padding-bottom: 10px;
            padding: 5%;
        }

        #submit-reset{
            display: flex;
            justify-content: center;
        }
    